/*IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', Arial, Helvetica, sans-serif;
}

.container
{
    width: 100vw;
    height: 100vh;
    background-color: #001a68;
    background-image: linear-gradient(0deg, #001a68 0%, #00d1ff 100%);
    display: flex;

}

.user
{
    background: rgba( 255, 255, 255, 0.25 );
    
    backdrop-filter: blur( 8.0px );
    -webkit-backdrop-filter: blur( 8.0px );
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    flex-grow: 1;
}

.content
{
    flex-grow: 6;
    margin: 5px;
    margin-right: 20px;
    margin-top: 20px;
}

.messages-list-section
{
    height: 87%;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 8.0px );
    -webkit-backdrop-filter: blur( 8.0px );
    border-radius: 10px;
    
    overflow: auto;
}



.text-section
{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 8.0px );
    -webkit-backdrop-filter: blur( 8.0px );
    border-radius: 10px;
    margin-top: 20px;
    height: 50px;
    flex-grow: 1;
    margin-top: 32px;
}

#form { 
    
    padding: 0.25rem; 
    position: fixed; 
    margin-bottom: 0.29rem;
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 2.5rem; 
    box-sizing: border-box; 
}

#input { 
    border: none; 
    border-radius: 10px;
    flex-grow: 1;
    outline: none; 
    padding: 10px;

}

#form > button { 
    background: rgba(0, 0, 0, 0.418); 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 10px; 
    outline: none; 
    color: #fff; 
    cursor: pointer;
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
}

#messages
{ 
    list-style-type: none;
}

#messages, li
{
    margin: 10px;
    padding: 10px;

}

#usersList
{
    list-style-type: none;
    padding: 0;
}

.notif
{
    background: rgba(255, 255, 255, 0.418);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;

}